
   
   body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  #cafe-racer-image {
    float: left;
    margin-right: 20px;
  }
  
  #video {
    clear: both;
  }
  
  #cafe-racer-info {
    font-size: 0.9em;
    line-height: 1.5;
  }
  
  a {
    color: #00A;
    text-decoration: none;
  }
  